.sort-order
    cursor: pointer

.adjacency-matrix
    margin-top: 1rem
    font-size: 11px

.adjacency-matrix__label
    fill: #333
    text
        fill: white
    &.level-0
        fill: #845EC2
    &.level-1
        fill: #D65DB1
    &.level-2
        fill: #FF6F91
    &.level-3
        fill: #FF9671

.adjacency-matrix__row-labels
    text
        text-anchor: end
        alignment-baseline: central

.adjacency-matrix__column-labels
    text
        alignment-baseline: central

.adjacency-matrix__cell
    fill: #845EC2
