.sort-order
    cursor: pointer

.adjacency-matrix
    margin-top: 1rem
    font-size: 11px

.adjacency-matrix__row-labels
    fill: black
    text
        fill: white
        text-anchor: end
        alignment-baseline: central

.adjacency-matrix__column-labels
    fill: black
    text
        fill: white
        alignment-baseline: central

.adjacency-matrix__cell
    fill: hotpink
